<!doctype html>
<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.metadata.title | escape }}</title>
    <meta name="description" content="{{ page.description | default: site.metadata.description | escape }}" />

    {% render "banner" %}

    <link rel="stylesheet" href="{% asset_path css %}" />
    <script src="{% asset_path js %}" defer></script>
    {% live_reload_dev_js %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/images/site.webmanifest' | relative_url }}">
    <link rel="mask-icon" href="{{ '/images/safari-pinned-tab.svg' | relative_url }}" color="#0d9488">
    <meta name="msapplication-TileColor" content="#0d9488">
    <meta name="theme-color" content="#ffffff">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ page.title | default: site.metadata.title | escape }}" />
    <meta property="og:description" content="{{ page.description | default: site.metadata.description | escape }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />

    {% if page.image %}
      <meta property="og:image" content="{{ page.image | absolute_url }}" />
    {% endif %}
    {% seo %}
  </head>
  <body class="flex h-full bg-zinc-50 dark:bg-black">
    <div class="flex w-full">
      <div class="fixed inset-0 flex justify-center sm:px-8">
        <div class="flex w-full max-w-7xl lg:px-8">
          <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
        </div>
      </div>
      <div class="relative flex w-full flex-col">
        {% render "navbar" %}
        <main class="flex-auto">
          {{ content }}
        </main>
        {% render "footer" %}
      </div>
    </div>
  </body>
</html>
